p Hi, #{ @user.first_name } :D
p My name is Daniel Weinmann and I'm the founder of Tangueros. I can't tell you how glad I am to have you here!
p I've been a tango dancer for many years now and I've also launched several web businesses, such as Catarse, Brazil's first and biggest crowdfunding platform.
p Now I created Tangueros: the social network for tango dancers. Here you can get in touch with dancers from all over the world while at the same time you help sustain this culture we love so much #{ "<3" }
p The main reason I started this adventure is to unite tango lovers everywhere so we can solve huge challenges while we connect and have fun! Remember that person you danced with, were amazed by the connection you had (even fell in love a little bit), but never met again? I'm pretty sure you'll find him or her here!
p But we also have to talk about serious stuff once in a while. For instance, do you know that there are a lot of milongas in Buenos Aires that are closing down? In a near future I'll ask you to join me in a quest for helping save some of them! Do you want to be part of it?
p The feeling of belonging to a global community that understands its origins and at the same time spreads the seeds around is one of the best a human being can feel. And our dear tango is perfect for that! Many believe it is even a microcosm of that in every dance :D
p So, just like when you're dancing, I invite you to have fun on Tangueros with a deep sense of connection. Also, I have a favor to ask: can you tell everybody about Tangueros? You'll have my eternal gratitude and a much cooler experience with more tangueros on board!
p Please don't hesitate to contact me by replying this email. I can't wait to talk to you!
p Un abrazo,<br>Daniel Weinmann
