.text-center
  text-align: center

.text-left-small-down
  @include breakpoint(small down)
    text-align: left

.gray
  color: $gray

.dark-gray
  color: $dark-gray

.light-gray
  color: $light-gray

.bg-dark-ice
  background: $dark-ice !important

.bg-light-gray
  background: $light-gray !important

.bg-gray
  background: $gray !important

.border-top
  border-top: 1px solid $light-gray

.border-bottom
  border-bottom: 1px solid $light-gray

.big-border-top
  border-top: 6px solid $black

.homenaje
  font-family: 'Homenaje', sans-serif

.uppercase
  text-transform: uppercase

.margin-top
  margin-top: 1rem

.big-margin-top
  margin-top: 1.2rem
  @include breakpoint(medium up)
    margin-top: 2rem

.small-margin-top
  margin-top: 0.5rem

.margin-top-medium-down
  @include breakpoint(medium down)
    margin-top: 1rem

.big-margin-top-medium-down
  @include breakpoint(medium down)
    margin-top: 2rem

.margin-bottom-small-down
  @include breakpoint(small down)
    margin-bottom: 1rem

.margin-bottom-medium-up
  @include breakpoint(medium up)
    margin-bottom: 1rem

.margin-bottom
  margin-bottom: 1rem

.small-margin-bottom
  margin-bottom: 0.5rem

.big-margin-bottom
  margin-bottom: 1.2rem
  @include breakpoint(medium up)
    margin-bottom: 2rem

.no-margin-bottom
  margin-bottom: 0

.small-margin-left
  margin-left: 0.5rem

.no-padding
  padding-left: 0
  padding-right: 0

.padding-vertical
  padding-top: 1rem
  padding-bottom: 1rem

.small-padding-vertical
  padding-top: 0.5rem
  padding-bottom: 0.5rem

.no-decoration
  text-decoration: none

.button
  text-decoration: none
  &.large
    @include breakpoint(small only)
      font-size: 0.8rem
    @include breakpoint(320 down)
      font-size: 0.6rem
  &.secondary
    background: $dark-gray
    &:hover, &:active
      background: scale-color($dark-gray, $lightness: -15%)
  &.tertiary
    background: $gray
    &:hover, &:active
      background: scale-color($gray, $lightness: -15%)
  &.facebook
    background: $facebook
    &:hover
      background: scale-color($facebook, $lightness: -15%)

.huge
  font-size: 36px
  @include breakpoint(medium up)
    font-size: 48px

.login-box
  padding: 0 10px
  margin: 0 auto
  border: none
  background: $ice

.logo
  width: 78px
  @include breakpoint(medium up)
    width: 110px
  margin-right: 2rem
  &.small
    width: 32px
    @include breakpoint(medium up)
      width: 63px

.separator
  float: left
  width: 45%
  border-top: 1px solid $light-gray
  margin-top: 0.6rem

.separator-text
  float: left
  width: 10%

.callout
  font-size: 1.2rem

.thumb
  width: 36px
  height: 36px
  border-radius: 50%

.map
  width: 100%
  height: 200px
  background: $dark-ice
  border: 1px solid $light-gray
  @include breakpoint(medium up)
    height: 400px

.card
  background: $white
  padding: 2rem
  border: 1px solid $light-gray
  border-top: none
  @include breakpoint(320 down)
    padding: 1rem
  @include breakpoint(large up)
    border-top: 1px solid $light-gray
  &.notification
    border-top: none

.profile-image
  img
    max-width: 200px
  @include breakpoint(small only)
    img
      width: 200px
  @include breakpoint(320 down)
    img
      width: 100px

.menu-title
  @include breakpoint(large up)
    margin-bottom: 0.5rem

.menu-image
  @include breakpoint(medium up)
    width: 72px
    img
      width: 64px
    margin-top: 0.5rem
    margin-bottom: 0.5rem
    margin-left: auto
    margin-right: auto
  &.selected
    opacity: 0.5

.menu-count
  position: absolute
  background: $red
  color: $white
  top: -2px
  right: -6px
  border-radius: 0.1rem
  padding: 0.2rem
  font-size: 0.6rem
  line-height: 0.6rem
  @include breakpoint(medium up)
    right: 0
    border-radius: 0.2rem
    padding: 0.4rem
    font-size: 1rem
    line-height: 1rem

.icon
  img
    max-width: 32px
    @include breakpoint(medium up)
      max-width: 64px

.circle
  border-radius: 50%
  img
    border-radius: 50%

.position-relative
  position: relative

.footer
  position: fixed
  bottom: 0
  left: 0
  right: 0
  a
    color: $light-gray
    &:hover
      color: $white

.slider
  margin-top: 0.25rem
  @include breakpoint(medium up)
    margin-top: 0.75rem