.gray
  color: $gray

.dark-gray
  color: $dark-gray

.light-gray
  color: $light-gray

.bg-dark-ice
  background: $dark-ice

.bg-light-gray
  background: $light-gray

.button.facebook
  background: $facebook
  &:hover
    background: $light-facebook

.bg-gray
  background: $gray

.border-bottom
  border-bottom: 1px solid $light-gray

.big-border-top
  border-top: 6px solid $black

.homenaje
  font-family: 'Homenaje', sans-serif

.uppercase
  text-transform: uppercase

.margin-top
  margin-top: 1rem

.big-margin-top
  margin-top: 2rem

.small-margin-top
  margin-top: 0.5rem

.small-margin-top-small-only
  @include breakpoint(small only)
    margin-top: 0.5rem

.no-margin-bottom
  margin-bottom: 0

.no-decoration
  text-decoration: none

.button
  text-decoration: none

.huge
  font-size: 48px
  @include breakpoint(medium up)
    font-size: 48px

.login-box
  padding: 0 10px
  margin: 0 auto
  border: none
  background: $ice

.logo
  width: 78px
  @include breakpoint(medium up)
    width: 110px
  margin-right: 2rem

.separator
  float: left
  width: 45%
  margin-top: 0.6rem
  border-top: 1px solid $light-gray

.separator-text
  float: left
  width: 10%
